<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link rel="stylesheet" type="text/css" href="resource/base/cola-ui/semantic.css">
	<link rel="stylesheet" type="text/css" href="resource/base/cola-ui/cola.css"/>
	<link rel="stylesheet" type="text/css" href="resource/udw.css">
	<link rel="stylesheet" type="text/css" href="resource/chart.css">
	<link rel="stylesheet" type="text/css" href="resource/calc.css">
	<link rel="stylesheet" type="text/css" href="resource/calendar.css"/>
	<script src="resource/base/d3.js"></script>
	<script src="resource/base/jquery/jquery-2.1.3.js"></script>
	<script src="resource/base/jquery/jquery.cookie.js"></script>
	<script src="resource/base/cola-ui/3rd.js"></script>
	<script src="resource/base/cola-ui/semantic.js"></script>
	<script src="resource/base/cola-ui/cola.js"></script>
	<script src="resource/udw.js"></script>
	<script src="resource/chart.js"></script>
	<script src="resource/calc.js"></script>
		<script src="resource/calendar.js"></script>
	</head>
	<body>
		<div class="v-box">	
			<div class="flex-box">
				<div class="main-wrapper">
					<div class="h-box" style="height: 100%;">
						<div class="flex-box">
							<div class="task-container">
								<div class="v-box">
									<div class="box">
										<c-toolbar>
											<div class="item header">
												
											</div>
											<div class="item">
												<c-select-button id="stateSelector" c-items="items" bind="filterValue" change="typeChange" keyProperty="key" textProperty="value">
												</c-select-button>
											</div>
											<div class="right box">
												<c-button class="primary refresh" caption="刷新" width="80px" click="flushTask"></c-button>
											</div>
										</c-toolbar>
									</div>
									<div class="flex-box">
										<div>
											<c-table id="taskTable" class="striped" height="100%">
												<template name="link">
												    <div class="task-link" c-bind="item.businessTaskId" c-onclick="openTask(item)">
												    	
												    </div>
												</template>
												<template name="priority">
												    <div c-bind="item.businessTaskId" c-onclick="openTask(item)">
												    	<span c-class="'priority-'+item.priority+' priority'" c-bind="translatePriority(item.priority)"></span>
												    </div>
												</template>
											</c-table>
										</div>
									</div>
									<div class="box">
										<c-pager c-bind="tasks">
											
										</c-pager>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
