@font-face {
  font-family: "iconfont";
  src: url(../font/iconfont.ttf);
}
.iconfont {
  font-family: iconfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.icon-fabu2:before {
  content: "\e604";
}
.icon-neirongshezhi:before {
  content: "\e601";
}
.icon-edit:before {
  content: "\e607";
}
.icon-tilekpi:before {
  content: "\e608";
}
.icon-tongzhi:before {
  content: "\e609";
}
.icon-renwutongji:before {
  content: "\e60a";
}
.icon-bianji:before {
  content: "\e60b";
}
.icon-zhuye:before {
  content: "\e602";
}
.icon-shang:before {
  content: "\e623";
}
.icon-publish:before {
  content: "\e60c";
}
.icon-wodekehu:before {
  content: "\e60d";
}
.icon-fabu:before {
  content: "\e60e";
}
.icon-xuanze:before {
  content: "\e60f";
}
.icon-sidebar:before {
  content: "\e606";
}
.icon-gmxinjianxingcheng:before {
  content: "\e610";
}
.icon-pei:before {
  content: "\e611";
}
.icon-fabu1:before {
  content: "\e612";
}
.icon-cainiaoiconshangjiashangpinguanli:before {
  content: "\e621";
}
.icon-xiugaibaojiaqingqiuxianzhongxinxi:before {
  content: "\e613";
}
.icon-gerenziliao:before {
  content: "\e603";
}
.icon-shoudan:before {
  content: "\e605";
}
.icon-shanxiyidongduankaoqinjiankongzhishikushouye01:before {
  content: "\e614";
}
.icon-chanpinshaixuan:before {
  content: "\e615";
}
.icon-baoxianchengbao:before {
  content: "\e616";
}
.icon-chanpinxiangqing:before {
  content: "\e617";
}
.icon-kpi:before {
  content: "\e618";
}
.icon-kehuxinxi:before {
  content: "\e619";
}
.icon-baojia:before {
  content: "\e61a";
}
.icon-1:before {
  content: "\e620";
}
.icon-wodecaopan:before {
  content: "\e61b";
}
.icon-chanpinjianjie:before {
  content: "\e61c";
}
.icon-drag-copy:before {
  content: "\e625";
}
.icon-18jiaonangxinjiancaipin:before {
  content: "\e61d";
}
.icon-weibiaoti26:before {
  content: "\e627";
}
.icon-renwuzhongxin:before {
  content: "\e61e";
}
.icon-wodegongzuotai:before {
  content: "\e622";
}
.icon-gongneng:before {
  content: "\e600";
}
.icon-lipei:before {
  content: "\e61f";
}
.icon-item:before {
  content: "\e628";
}
.icon-qiang:before {
  content: "\e624";
}
.icon-tuodong:before {
  content: "\e626";
}
